.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #f4F0EF;
  padding: 10px 20px;
}

.navbar a {
  color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 17px;
}


.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.adamina-regular {
  font-family: "Adamina", serif;
  font-weight: 400;
  font-style: normal;
}



.logo {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo h1 {
  font-size: 27px;
  margin: 0;
  letter-spacing: 5px;
}
.logo h1 span {
font-size: 27px;
  display: block;
  text-align: center;
  letter-spacing: 5px;
  margin-left: 72px;
  margin-top: -10px;
   font-family: "Adamina", serif;
  font-weight: 700;
  color: #ff7F1A;

}

.parler-de-mon-projets {
 background-color: #ff7F1A;
  padding: 10px 15px;
  border-radius: 5px;
  margin-left: 20px;
  
}
.parler-de-mon-projets:hover {
 background-color: #ff59006d;
  padding: 10px 15px;
  border-radius: 5px;
  margin-left: 20px;
  transition: all 0.3s ease;
}

.parler-de-mon-projets a {
  color: white;
  text-decoration: none;
}

